## Hostname
### Hostname cho cac may LoadBalancer
LB1_HOSTNAME={{ LB1_HOSTNAME }}
LB2_HOSTNAME={{ LB2_HOSTNAME }}

##IP Address
### IP VIP
IP_VIP_ADMIN={{ IP_VIP_ADMIN }}
IP_VIP_DB={{ IP_VIP_DB }}
IP_VIP_API={{ IP_VIP_API }}

###IP cho bond0 cho cac may LoadBalancer
LB1_IP_NIC1={{ LB1_IP_NIC1 }}
LB2_IP_NIC1={{ LB2_IP_NIC1 }}

###IP cho bond1 cho cac may LoadBalancer
LB1_IP_NIC2={{ LB1_IP_NIC2 }}
LB2_IP_NIC2={{ LB2_IP_NIC2 }}

###IP cho bond2 cho cac may LoadBalancer
LB1_IP_NIC3={{ LB1_IP_NIC3 }}
LB2_IP_NIC3={{ LB2_IP_NIC3 }}

###IP cho bond3 cho cac may LoadBalancer
LB1_IP_NIC4={{ LB1_IP_NIC4 }}
LB2_IP_NIC4={{ LB2_IP_NIC4 }}

###MAT KHAU
PASS_CLUSTER={{ PASS_CLUSTER }}
