## Hostname
### Hostname cho cac may rabbitmq
MQ1_HOSTNAME={{ MQ1_HOSTNAME }}
MQ2_HOSTNAME={{ MQ2_HOSTNAME }}

###IP cho bond0 cho cac may rabbitmq
MQ1_IP_NIC1={{ MQ1_IP_NIC1 }}
MQ2_IP_NIC1={{ MQ2_IP_NIC1 }}

###IP cho bond1 cho cac may rabbitmq
MQ1_IP_NIC2={{ MQ1_IP_NIC2 }}
MQ2_IP_NIC2={{ MQ2_IP_NIC2 }}


###MAT KHAU
RABBIT_PASS={{ RABBIT_PASS }}
