## Hostname
### Hostname cho cac may maria db
DB1_HOSTNAME={{ DB1_HOSTNAME }}
DB2_HOSTNAME={{ DB2_HOSTNAME }}

###IP cho bond0 cho cac may maria db
DB1_IP_NIC1={{ DB1_IP_NIC1 }}
DB2_IP_NIC1={{ DB2_IP_NIC1 }}

###IP cho bond1 cho cac may maria db
DB1_IP_NIC2={{ DB1_IP_NIC2 }}
DB2_IP_NIC2={{ DB2_IP_NIC2 }}


###MAT KHAU
PASS_DATABASE_ROOT={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_KEYSTONE={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_NOVA={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_NOVA_API={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_NEUTRON={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_GLANCE={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_CEILOMETER={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_AODH={{ PASS_DATABASE_ROOT }}
PASS_DATABASE_GNOCCHI={{ PASS_DATABASE_ROOT }}
