[server]
[mysqld_safe]
log_error=/var/log/mariadb/mariadb.log
[mysqld]
log_error=/var/log/mariadb/mariadb.log
[galera]
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://{{ DB1_IP_NIC2 }},{{ DB2_IP_NIC2 }}"
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
wsrep_cluster_name="linoxide_cluster"
bind-address=0.0.0.0
wsrep_node_address="{{ DB_IP_NIC2 }}"
wsrep_node_name="{{ HOST_NAME }}"
wsrep_sst_method=rsync
[embedded]
[mariadb]
[mariadb-10.1]